@import '~styles/colors.scss';
@import '~bootstrap/scss/bootstrap.scss';

.acts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.acts_browser {
  width: 100%;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.act_cell {
  border-bottom: 1px dotted #e4e6e8;
  padding: 8px 4px 12px 4px;
  flex: 1 1 25%;
  min-width: 250px;
  width: auto;
  vertical-align: baseline;
}

.sort_base {
  color: gray("800");
  padding: 6px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid $light-gray;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.left_sort {
  @extend .sort_base;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.middle_sort {
  @extend .sort_base;
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.right_sort {
  @extend .sort_base;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
