.modal_container {
  height: 80vh;
  width: 441px;

  :global {
    .modal-content {
      height: 100%;
      border-radius: 10px;
      border: none;
    }
  }
}

.modal_header {
  font-size: 30px;
  margin: 30px auto;
}
