@import '~styles/colors.scss';

.nav_bar {
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 0 1px 8px 0 rgba(0,17,25,.27);
  background: linear-gradient(20deg,#337eb9,#384499);
}

.container {
  height: 100vh;
  overflow: hidden;
}

.avatar {
  margin-left: 20px;
}

.profile_menu {
  box-shadow: 0 1px 8px 0 rgba(0,17,25,.27);
}

.profile_title {
  color: wheat;
  font-size: 20px;
  margin-bottom: 0;
}

.nav_bar .profile_title {
  margin-left: 1rem;
}

.btn_create_act {
  position: absolute;
  left: 10%;
  bottom: 20px;
  width: 80%
}

.tab_link {
  width: 100%;
  border-right: none;
  border-bottom: none;
  height: 50px;
  border-top: none;
  border-left: 4px solid transparent;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.tab_link.active_tab_link {
  border-left: 4px solid blue;
  background-color: $white-blue;
  font-weight: normal !important;
}
