.container {
  height: 100%
}

.title {
  position: absolute;
  z-index: 1;
  top: 40%;
  height: fit-content;
  text-align: center;
  font-family: "Sui Generis";
}

%slider-image {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.img1 {
  @extend %slider-image;
  background-image: url(/images/main_slider/summer_sun1.jpg);
}

.img2 {
  @extend %slider-image;
  background-image: url(/images/main_slier/summer_sun2.jpg);
}

.img3 {
  @extend %slider-image;
  background-image: url(/images/main_slider/summer_sun3.jpg);
}

.img4 {
  @extend %slider-image;
  background-image: url(/images/main_slider/summer_sun4.jpg);
}
