@import '~styles/colors.scss';

.btn_outline {
  padding: 15px 0;
  background-color: white;
  box-shadow: 0px 0px 1.5px $aqua-blue;
  border: 2px outset $light-blue;

  &:hover {
    cursor: pointer;
  }
}
