@import '~styles/colors.scss';

.act_cell {
  border-bottom: 1px dotted #e4e6e8;
  padding: 8px 4px 12px 4px;
  flex: 1 1 25%;
  min-width: 250px;
  width: auto;
  vertical-align: baseline;
}

.act_tag {
  color: #39739d;
  background-color: #E1ECF4;
  border-color: #E1ECF4;
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding: .4em .5em;
  margin: 2px 2px 2px 0;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  transition: all .15s ease-in-out;

  &:hover {
    color: #33658a;
    background-color: #cee0ed;
    border-color: #cee0ed;
    cursor: pointer;
  }
}

.multiplier {
  margin-right: 4px;
  color: #848d95;
}

.subscribers_multiplier {
  margin-right: 4px;
  color: #848d95;
  font-size: 12px;
}

.description {
  box-sizing: content-box;
  font-size: 12px;
  height: 39px;
  line-height: 14px;
  overflow: hidden;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-right: 8px;
  color: #848d95;
}

.matches {
  font-size: 11px;
  color: #3b4045;
}

.btn_subscribe {
  font-size: 12px;
  padding: 0 5px;
}

.btn_unsubscribe {
  @extend .btn_subscribe;
  border-color: green;

  &:hover {
    background-color: green;
    box-shadow: 0 0 0 0.2rem rgba(22, 200, 1, 0.5);
  }
}
