@import '~styles/colors.scss';

.wrapper {
  width: 30px;
  transition-duration: .2s;
  transition-property: transform;
  &:hover {
    transform: rotate(90deg) scale(0.8);
  }

  box-sizing: content-box;
  border-radius: 50%;
  border: 2.5px solid $super-gray;
  cursor: pointer;
  transform: scale(0.8);
}

.icon {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  fill: $super-gray;
  cursor: pointer;
}
