@import '../shared/index.scss';

.btn_login {
  background: linear-gradient(260deg,#337eb9,#384499);
  box-shadow: 0 2px 4px 0 rgba(115,101,97,.27);
  border-radius: 100px;
  border-style: none;
  color: white;
  padding: 0.5rem 1.5rem;

  &:hover {
    background: #384499;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.fb_login {
  @extend .btn_login;

  width: 100%;
  height: 55px;
  min-width: fit-content;
  text-transform: uppercase;
}

