.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  :global(>div) {
    position: relative;
    width: 10%;
    height: unset;
  }

  :global(>div:after) {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.full_screen_wrapper {
  @extend .wrapper;
  width: 100vw;
  height: 100vh;
  background-color: blue;

  :global(>div) {
    position: relative;
    width: 10%;
    height: unset;
  }

  :global(>div:after) {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
